div.dashboard-button {
    width:180px;
    height:50px;
    padding-top:30px;
    margin: 4px 4px 4px 4px;
    float:left;
    text-align:center;
    font-size: 20px;
    box-shadow: 0px 1px 6px gray;
}

div.dashboard-button:hover
{
    cursor:pointer;
    color: #336699;
    box-shadow: 0px 2px 5px #336699;
}

div.dashboard-button-container
{
    width:650px;
    min-height:110px;
    margin-right:auto;
    margin-left:auto;
}