<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<appSettings>
    <!-- ZinOS file system acesss configuration [start] -->
    <add key="ZinOSFileSystemRootPath" value="C:\zinOS"/>
    <add key="DesktopsLocalFileSystemRootRelativePath" value="desktop\localFileSystem"/>
    <add key="ZinOSAppResourcesRootPath" value="zinosApps"/>
    <add key="ZinOSAppManifestXmlSchemaPath" value="xmlSchemas\ManifestSchema.jpg"/>
    <!-- ZinOS file system acesss configuration [end] -->
    
    <add key="ZinOSHostName" value="zinos.hiddenbyte.net"/>
    <add key="GoogleCajaServiceAdresss" value="http://caja.appspot.com/cajole" />
    
    <!--  dropbox configuration [start]-->
    <add key="DropboxAPIConsumerKey" value="6s2j9043ko7rlio"/>
    <add key="DropobxConsumerSecret" value="cz16ua14p3yzcts"/>
    <!-- dropbox configuration [end]-->
    
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="DesktopsLocalFileSystemRootPath" value="C:\zinOS\users\"/>
	</appSettings>
  
  <connectionStrings>
    <add name="ZinOSDbContext"
         providerName="System.Data.SqlClient"
         connectionString="Server=fe41c697-1cb3-43a2-9a02-9f9f0001b0d6.sqlserver.sequelizer.com;Database=dbfe41c6971cb343a29a029f9f0001b0d6;User ID=zpucfpjqhilozcab;Password=oZ25Ys5AmFp3mny3BDuNDetQGHb3cdihgEyhf4SJMw2NvBzd3FeATuFjEkvprcxh;"/>
  </connectionStrings>
	
  <system.web>
    
    <customErrors mode="Off">
        <error statusCode="404" redirect="/Error/NotFound/" />
    </customErrors>
    
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Home/Index" timeout="2880"/>
		</authentication>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers"/>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.WebPages"/>
			</namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
