@{
    ViewBag.Title = "ZinOS";
}

@section HeaderContent{
}

<h1>ZinOS - Zin Is Not an Operating System</h1>
<ul>
    <li>Develop apps for ZinOS using just HTML, CSS and Javascript</li>
    <li>Integration with Dropbox</li>
</ul>
